*{
    margin: 0;
    box-sizing: border-box;
    background-color: #F4F2EE;
}

#root {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;    
}


@media  screen and (max-width: 1000px) {
  #root {
    width: 100%;
  }
}